<app-nav></app-nav>

<div id="bgc" class="hero" > 
 <div id="img1" >
    <img  src="../../assets/img33.jpg.png" alt="Welcome image" class="welcome-image">
   </div>

   
      <div class="welcome">
      
  <h1 class="quote">  Welcome to our <span id="rm">REMINDER</span> website!</h1>
  <!-- <h2 > TOP G</h2> -->
  <p class="welcome-quote2">“If You Tolerate Everything, You Stand for Nothing”</p>
  <!-- <h2 class="welcome-quote3"> TOP G</h2> -->
  <div id="bel">
    <a  routerLink="/log"><button class="login-button">JOIN NOW</button></a>

  
    <!-- Badge -->
    
      <!-- <a  routerLink="/log"><button class="login-btn">login</button> -->
    
        <i   class="bi bi-bell"></i>
      <!-- </a> -->
    
  
</div>
</div>
      

